html, body {
  height: 100%;
}
header{ 
  background-color: black;
}
body {
  font-size: 100%;
  line-height: 2;
  font-family: 'Georgia', serif; 
   color: white;

}

*, *:before, *:after {
  box-sizing: border-box;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: baseline;
}

a {
  text-decoration: none;
}





.top-matter {
  padding: 2em;
  float: left;
  max-width: 400px;
  color: rgb(255, 255, 240);
}

.title {}

h1 {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 24px;
  text-align: left;
  direction: rtl;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
  font-style: italic;
  color: #ed1d24;

  span {
    display: block;
    text-transform: uppercase;
    font-size: 6rem;
  }
}

.intro {
  text-align: left;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
  color: silver;
  font-family: 'Courier New', Courier, monospace;
  font-size: x-large;
  margin-top: 300px;
  font-weight: bold;
}

.article-container {
  padding: 4em 2em;
  column-count: 5;
  column-width: 360px;
  column-gap: 36px;
  column-fill: balance;
}

.article-container .tag1 {
  font-size: x-large;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  background-color: #f4f4f4;
  padding: 8px 12px;
  border-radius: 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color:red;
  text-align: center;
}

.article-container p:first-child:first-letter {
  float: left;
  color: rgb(30, 60, 90);
  font-size: 81px;
  line-height: 60px;
  padding-top: 10px;
  padding-right: 8px;
  padding-left: 3px;
  font-weight: 700;
}

.article-container p {
  orphans: 3;
  widows: 3;
  position: relative;
  text-indent: 1em;

  &:after {
    content: '';
    display: inline-table;
    height: 0px;
    margin-bottom: 0;
  }
}

.article-container p:first-child {
  text-indent: 0;
}

.article-container img {
  display: block;
  max-width: 105%;
  margin: 0 -5%;
  padding: 19px 0;
}


@media only screen and (min-width: 900px) {
  .container {
    background-image: url('https://wallpapercave.com/wp/wp2700196.png');
    background-size: cover;
    min-height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: stretch;
    padding-top: 300px;
  }

  .top-matter {
    background: rgb(240, 240, 255);
    display: flex;
    flex-direction: column;
    max-width: 450px;

    .intro {
      margin-top: auto;
    }

    h1 {
      text-shadow: none;
      color: #111;
      font-size: 5em;

      span {
        color: rgb(40, 90, 120);
        font-weight: 700;
        font-size: 236px;
        letter-spacing: 3px;
        text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.25);
      }
    }
  }

  .intro p {
    text-shadow: none;
    font-size: 2em;
    color: black;
    line-height: 1.2;
    font-style: italic;
  }
}
